.add-box {
    margin-top: 20px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 41px -4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 41px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 10px 10px 41px -4px rgba(0, 0, 0, 0.21);
    /* max-width: 1000px; */
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

.rait-text {
    color: white;
    margin: auto;
    text-align: center;
}

.welcome-text{
    margin-left: 10px;
    color: white;
}

.logodiv{
    margin: auto;
}

#logo {
    margin-top: 35px;
    width: 200px;
}

.titlediv{
  margin: auto;
}

.header{
    padding-left: 12vmax;
    padding-right: 12vmax;
}

#title {
    padding-top: 38px !important;
    font-weight: 100;
    margin-left: 0px;
}

label {
    font-weight: 500 !important;
    font-size: 17px !important;
    margin-left: 5px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /* top: 50px; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav button{
      width: 100%;
      height: 20% !important;
      max-height: 20%;
  }
 
  .main-content h3{
      font-weight: 200;
  }
  